# Core functionality - changes here should be rare!
/src/app.py                   @dmead01
/src/backend/database.py      @dmead01
/src/backend/routers/auth.py  @dmead01

# The frontend will need refactored soon to be more object oriented.
/src/static/   @dmead01
